h1{
    color: red;
    text-shadow: 1px 1px 12px rgb(255, 0, 0);
    font-size: 7em;
}
.buttons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    text-shadow: 1px 1px 12px rgb(255, 0, 0);
    box-shadow: 1px 1px 12px rgb(255, 0, 0);
    font-size: 3em;
    padding: 20px;
    background-color: black;
    transition: 0.2s;
}
.button:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 19px rgb(255, 0, 0);
}